In [3]:
import gmaps
import csv 
import pandas as pd
from typing import List

In [4]:
# Configure gmap 
gmaps.configure(api_key='AIzaSyD8P1OPDqYPIXuo6FdCqzo3Jib3E2A-GUg')

In [19]:
# Set initial location
kl_coord = (3.1390, 101.6869)
fig = gmaps.figure(center=kl_coord, zoom_level=12)

In [20]:
# Load dataset
df = pd.read_csv("test_csv.csv")
df.head()

,Category,Name,Full_Address,Street_Address,City,State,Zip,Lat,Lng
0,ATM,ATM - Maybank,"MTLD, Lot 4032, Block 26, Jalan Kuching - Kota...","MTLD, Lot 4032",94300 Kota Samarahan,Sarawak,k,1.468649,110.417368
1,ATM,ATM - RHB Bank,"Lot 550, Block 233, Penrissen Road Station, Mi...","Lot 550, Block 233",93250 Kuching,Sarawak,k,1.487857,110.330492
2,ATM,Cimb,"193b, Jalan Bertingkat Skudai, Kampung Skudai ...","193b, Jalan Bertingkat Skudai",80200 Johor Bahru,Johor,r,1.488652,103.712460
3,ATM,ATM - Public Bank,"2, Jalan Setia Raja, Taman Stutong Indah, 9335...","2, Jalan Setia Raja",93350 Kuching,Sarawak,k,1.520072,110.378956

In [21]:
def retrieve_marker(df) -> List: 
    """
    Method which reads a dataset and return a list containing markers dictionary
    """
    arr = []
    for index,row in df.iterrows():
        temp = {"category": row['Category'], "location": (row["Lat"],row["Lng"])}
        arr.append(temp)
    return arr

In [22]:
# Configure markers
places = retrieve_marker(df)
places_location = [i['location'] for i in places]
info_box_template = """
<p>{category}</p>
"""
places_info = [info_box_template.format(**i) for i in places]

In [23]:
# Set markers
marker_layer = gmaps.marker_layer(places_location, info_box_content=places_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Get lat and long 
df2 = df.iloc[:,7:]

In [25]:
heatmap_layer = gmaps.heatmap_layer(df2)

In [26]:
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [76]:
# Export to HTML
from ipywidgets.embed import embed_minimal_html
embed_minimal_html('export.html', views=[fig])